<!DOCTYPE html>
<html>
    <head>
        <title>上映映画座席表</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>
            <title>座席一覧</title>
        <meta charset="UTF-8">
        </div>
        <div>
            <table>
                <tr>
                    <td>.</td>
                    <td>.</td>
                    <td>スクリーン</td>
                    <td>.</td>
                    <td>.</td>
                </tr>
                <tr>
                    <td>:-:</td>
                    <td>:-:</td>
                    <td>:-:</td>
                    <td>:-:</td>
                    <td>:-:</td>
                </tr>
                <% @sheets.each do |sheet|%>
                    <%if sheet.id == 1 or sheet.id == 6 or sheet.id == 11 then%>
                        <tr>
                    <%end%>
                        <td>|<%=sheet.row%>-<%=sheet.column%>|</td>
                    <%if sheet.id == 5 or sheet.id == 10 or sheet.id == 15 then%>
                    </tr>
                    <%end%>
                <% end %>
            </table>
        </div>
    </body>
</html>
