<h1>Admin::Movies#new</h1>
<p>Find me in app/views/admin/movies/new.html.erb</p>
<!DOCTYPE html>
<html>
    <head>
        <title>上映映画の追加</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <%= form_with model: @Movie do |form| %>
        
    </body>
</html>